/* Todo: create a text box that appears when you click header h1 */


:root {
    --dark-pink: #B05C5B;
    --light-pink: #FFC8CA;
    --maroon: #560C0E;
    --navy-blue: #36577D;
}

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html { 
    background: url(../2-imgs/red-galaxy.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body { 
    display: flex;
    flex-direction: column;
    align-items: center;
  }


header, 
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Header*/

header {
    background: var(--dark-pink);
    height: 75px;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 200%;
    font-style: italic;
    margin-left: 50px;
}

header h1:hover {
    cursor: pointer;
}


header ul {
    display: flex;
    justify-content: space-around;
}

/* nav list style */

li a {
    padding: 20px 30px;
    border-radius: 21px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

li a:hover {
    color: var(--maroon);
    font-style: italic;
    background: var(--navy-blue);
    box-sizing: content-box;
}

/* top quote style */

.top-quote {
    display: flex;
}

.top-quote img,
.top-quote .quote-box {
    margin-bottom: 100px;
}

.top-quote img {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 60px;
}

.quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 220px;
    background: var(--light-pink);
    border-radius: 21px;
    margin-right: 30px;
    margin-left: 230px;
    margin-top: 35px;
}

/* About me style */

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: var(--maroon);
    margin: 40px;
    margin-top: 10px;
    width: 1190px;
    height: 141px;
    border-radius: 21px;
}

.title h2 {
    font-size: 250%;
    color: white;
    padding: 12px 40px; 
    border-right: 2px solid white;
    margin: 20px 50px;
}

.about-me p {
    font-size: 110%;
    color: white;
    margin-right: 30px;
}

/* What i do style */

.what-i-do {
    width: 1190px;
    height: 83px;
    background: var(--light-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 21px;
    margin-bottom: 40px;
}

.what-i-do h3 {
    font-size: 200%;
}

/* Projects style*/

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1366px;
}

.projects p {
    position: absolute;
    font-size: 150%;
    color: white;
}

.projects img {
    width: 663px;
    height: 469px;
    border-radius: 21px;
    flex: 1 0 0;
    max-width: 663px;
    margin: 10px;
}

#one {
    width: 1300px;
    height: 425px;
    flex: auto;
    max-width: 1300px;
}

