/* Todo: create a text box that appears when you click header h1 */


:root {
    --dark-pink: #B05C5B;
    --light-pink: #FFC8CA;
    --maroon: #560C0E;
    --navy-blue: #36577D;
}

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html { 
    background: url(./assets/2-imgs/red-galaxy.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


header, 
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Header*/

header {
    background: var(--dark-pink);
    height: 75px;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 200%;
    font-style: italic;
    margin-left: 50px;
}

header h1:hover {
    cursor: pointer;
}

header h1:active {

}

header ul {
    display: flex;
    justify-content: space-around;
}

/* nav list style */

li a {
    padding: 20px 30px;
    border-radius: 21px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

li a:hover {
    color: var(--maroon);
    font-style: italic;
    background: var(--navy-blue);
    box-sizing: content-box;
}